.productImage {
	float: left;
	margin: 0 20px 10px 0;
}

.productText {
	font-size: 18px;
	white-space: pre-line;
}

.buttonPay {
	background-color: rgb(51, 85, 119);
	color: white;
	border: solid 1px transparent;
	width: 100px;
	padding: 10px 20px;
	border-radius: 5px;
	transition: background-color 0.3s ease;
}

.buttonPay:hover {
	background-color: rgb(41, 75, 109);
	cursor: pointer;
}
